## Olympic dataset analysis

In [4]:
import pandas as pd
txns=pd.read_csv("olympic_data.csv",sep="\t")
txns.head()

,Michael Phelps,23,United States,2008,08-24-08,Swimming,8,0,0.1,8.1
0,Michael Phelps,19.0,United States,2004,08-29-04,Swimming,6,0,2,8
1,Michael Phelps,27.0,United States,2012,08-12-12,Swimming,4,2,0,6
2,Natalie Coughlin,25.0,United States,2008,08-24-08,Swimming,1,2,3,6
3,Aleksey Nemov,24.0,Russia,2000,10-01-00,Gymnastics,2,1,3,6
4,Alicia Coutts,24.0,Australia,2012,08-12-12,Swimming,1,3,1,5

How many total medals (Gold + Silver + Bronze) did each athlete win?

Which athlete won the highest number of gold medals?

Which country has won the most total medals?

What is the total medal count per year?

How many medals has each country won in each sport?

Which sport contributes the most medals overall?

Which athlete has shown consistent performance across multiple Olympics?

What is the total number of medals won by each country over all years?

What percentage of total medals were gold, silver, and bronze?

What is the average age of medal winners?

Is there a relationship between athlete age and the number of medals won?

Which year had the highest number of gold medals awarded?

How does the medal count of the United States compare with other countries?

Which athletes have won medals in multiple Olympic years?

What is the total number of medals per sport category?

Which country dominates in swimming events?

Which athletes have won the same number of medals as Michael Phelps?

How many total medals were won in each Olympic year?

Which countries improved their performance in consecutive Olympic Games?

What is the average number of medals per athlete?

How many athletes won at least one gold medal?

Which sport has the most diverse set of medal-winning countries?

What is the medal-to-athlete ratio for each country?

Which country has the highest average gold medal count per year?

What is the proportion of gold medals to total medals for each country?

How many athletes participated for each country?

Which athletes are top performers by total medal count?

What is the trend of total medals for each sport over time?

How many medals did each country win in a particular year (e.g., 2012)?

Which country shows the greatest improvement in medal count compared to previous Olympics?

How many total medals were won by female vs. male athletes (if gender data is added)?

How old was the youngest and oldest medal winner?

Which athletes won only bronze medals?

Which athletes won medals in multiple sports?

How do gold medal counts vary across countries and years?